<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
    <link rel="stylesheet" href="/stylesheets/login-signup.css" />
    <link rel="stylesheet" href="/stylesheets/profile.css" />
    <link rel="stylesheet" href="/stylesheets/all-ads.css" />
    <link rel="stylesheet" href="/stylesheets/ad-details.css" />
    <link rel="stylesheet" href="/stylesheets/ad-create.css" />
    <link rel="stylesheet" href="/stylesheets/request.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>


  




<div class="barra">

<div class="barraLeft">


  <a href="/"><img src="/images/logo.png" alt="logo"></a>
  <a href="/">Home</a>
  <a href="/list">All ads</a>
</div>

<div class="barraRight">
  {{#if user}}
      <a href="/create-ad/{{user._id}}" class="createAD myButtonG">Create an ad</a>


  <div class="navB">
  <ul id="nav">
  <li id="notification_li">
  <span id="notification_count">{{user.receivedReq.length}}</span>
  <a href="#" id="notificationLink"><img src="/images/notification.png" class="notybell"></a>
  <div id="notificationContainer">
    <div class="greyBar">
    <p>Received requests:</p>
    <hr />
    </div>
  <div id="notificationsBody" class="notifications">
  {{#each currentUser.receivedReq}}
  <div class="recNoty">
  <div class="notif">
  <div class="notifImage">
  <img src="{{senderItem.imageURL}}">
  </div>

  <p><a href="/profile/{{sender._id}}">{{sender.name}}</a> wants to switch <a href="/ad-details/{{senderItem._id}}">{{senderItem.title}}</a> with your <a href="/ad-details/{{receiverItem._id}}">{{receiverItem.title}}</a></p>
  </div>
  <div class="notifButtons">
  <form action="/request/{{_id}}/accept" method="get">
  <button type="submit" class="myButtonG">Accept</button></form>
  <form action="/request/{{_id}}/reject" method="get">
  <button type="submit" class="myButtonG">Reject</button></form>
  </div>
  </div>
  {{/each}}
  <div class="greyBar">
      <p>Sent requests:</p>
    <hr />
    </div>
  {{#each currentUser.sentReq}}
    {{#if status}}
    <p>Your switch request to <b>{{receiver.name}}</b> has been accepted! Check the details <a class="yellow" href="/request/{{_id}}/accept"><b>HERE</b></a></p>
    <hr />
    {{/if}}
  {{/each}}
  </div>
  </li>
</ul>













  <div class="dropdown">
    <button class="dropbtn"><img src="/images/istockphoto-1300845620-612x612.png" class="navProfile">
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
    <a href="/profile/{{user._id}}">my profile</a>
  <a href="/profile/{{user._id}}/edit">settings</a>
    <a href="/logout">logout</a>
    </div>
  </div>

  {{else}}
    <a href="/signup" class="myButtonG">Signup</a>
    <a href="/login" class="myButtonG">Login</a>
  {{/if}}



</div>





</div>


</div>
  




  <body>







    {{{body}}}




  </body>
<footer>
  <p>João Gonçalves & Mariana Oliveira</p>
</footer>
    <script src="/js/script.js"></script>

</html>