<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/login-signup.css" />
    <link rel="stylesheet" href="/stylesheets/profile.css" />
    <link rel="stylesheet" href="/stylesheets/all-ads.css" />
    <link rel="stylesheet" href="/stylesheets/ad-details.css" />
    <link rel="stylesheet" href="/stylesheets/ad-create.css" />
  </head>

  <a href="/">home</a>
  <a href="/list">view all ads</a>
  {{#if user}}
    <a href="/profile/{{user._id}}">profile</a>
    <a href="/logout">logout</a>
    <a href="/create-ad/{{user._id}}">create ad</a>

  {{else}}

    <a href="/signup">signup</a>
    <a href="/login">login</a>
  {{/if}}

  <hr />

  <body>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>