<div class="editProfileBody">
  <div class="borderEditProfile">
  <div class="titleEditProfile">
<h2>Edit your profile</h2>
</div>



<form class="profDel" action="/profile/{{user._id}}/delete" method="post">
    <button type="submit">Delete my profile</button>
  </form>

<div class="editProfileForm">
<form class="formEditProfile"
  action="/profile/{{user._id}}/edit"
  method="POST"
  enctype="multipart/form-data"
>

  <label for="name">Name:</label>
  <input type="text" name="name" value="{{user.name}}" />

  <label for="email">Email:</label>
  <input type="email" name="email" value="{{user.email}}" />

  <label for="password">Password:</label>
  <input
    type="password"
    name="password"
    placeholder="insert new password"
    required
  />

  <label for="address">Address:</label>
  <input type="address" name="address" value="{{user.address}}" />

  <label for="location">Location:</label>
  <input type="location" name="location" value="{{user.location}}" />

  <label for="contact">Phone number:</label>
  <input type="number" id="contact" name="contact" value="{{user.contact}}" />

  <label for="image">Image:</label>
  <input type="file" name="user-image" />
  
  <label for="aboutMe">Bio:</label>
  <textarea
    name="aboutMe"
    id="aboutMe"
    cols="10"
    rows="7"
  >{{user.aboutMe}}</textarea>

<div class="editPtofilebtnDiv">
  <button class="editProfileBtn" type="submit">Edit your account</button></div>
</form>



</div>
{{#if errorMessage}}
  {{errorMessage}}
{{/if}}
</div>
</div>