<div class="profileBody">
  <a href="/profile/{{user._id}}/edit">edit your profile</a>

  <form action="/profile/{{user._id}}/delete" method="post">
    <button type="submit">Delete my profile</button>
  </form>
  <div class="profileDiv">
    <div class="profileImgDiv">
      <img src="{{user.imageURL}}" alt="user image" id="userImage" />
    </div>
    <div class="profileInfoDiv">
      <h2> {{user.name}}</h2>
      <h4>Bio: {{user.aboutMe}}</h4>
      <div class="userInfoInnerDiv">
        <h4>Address: {{user.address}}</h4>
        <h4>Location: {{user.location}}</h4>
        <h4>Contact: {{user.contact}}</h4>
      </div>
    </div>
  </div>
  <div class="userAds">
    {{#each ads}}
      <div class="eachAd">
        <div class="eachAdImg">
          <img src="{{imageURL}}" alt="{{title}}">
        </div>
        <div class="eachAdinfo">
          <h3>{{title}}</h3>
          <p><b>category:</b> {{category}}</p>
          <p><b>condition:</b> {{condition}}</p>
          <a href="/ad-details/{{_id}}">View details</a>
        </div>
      </div>
    {{/each}}
  </div>
</div>