<a href="/profile/{{user._id}}/edit">edit your profile</a>

{{#each ads}}

  <h3>{{title}}</h3>
  <p><b>category:</b> {{category}}</p>
  <p><b>description:</b> {{description}}</p>
  <p><b>condition:</b> {{condition}}</p>
  <img src="{{imageURL}}" alt="image of{{title}}" />
  <a href="/ad-details/{{_id}}">View details</a>

{{/each}}