<a href="/profile/{{user._id}}/edit">edit your profile</a>

<form action="/profile/{{user._id}}/delete" method="post">
    <button type="submit">Delete my profile</button>
  </form>
  
<img src="{{user.imageURL}}" alt="user image">
<h2>Welcome, {{user.name}}</h2>






{{#each ads}}

  <img src="{{imageURL}}" alt="image of{{title}}" />
  <h3>{{title}}</h3>
  <p><b>category:</b> {{category}}</p>
  <p><b>description:</b> {{description}}</p>
  <p><b>condition:</b> {{condition}}</p>
  <a href="/ad-details/{{_id}}">View details</a>

{{/each}}