<h3>{{post.title}}</h3>
<p><b>category:</b> {{post.category}}</p>
<p><b>description:</b> {{post.description}}</p>
<p><b>condition:</b> {{post.condition}}</p>
<img src="{{post.imageURL}}" alt="image of{{post.title}}" />

<hr />

{{#each post.comments}}

  <p> <a href="/profile/{{author._id}}">{{author.name}}:</a> {{this.content}}</p>
  <form action="/ad-details/{{_id}}" method="post">
    <button type="submit">Delete comment</button>
  </form>
  
{{/each}}

<hr />

<form action="/ad-details/{{post._id}}/comments" method="post">
  <label for="content">Comments</label>
  <textarea id="content" name="content" rows="4" cols="50">
  </textarea>
  <button type="submit">Comment</button>
</form>

{{#if user}}
  <a href="/ad-edit/{{post._id}}">edit</a>

  <form action="/ad-details/{{post._id}}/delete" method="post">
    <button type="submit">Delete</button>
  </form>
  
{{/if}}
<a href="/profile/{{post.author}}">go back</a>