<div class="adsListBody">
<h2>Ads available</h2>
<div class="allAds">
{{#each ads}}
<div class="eachAd">
  <div class="eachAdImg">
  <img src="{{imageURL}}" alt="item-photo" />
  </div>
  <div class="eachAdInfo">
  <h3><b>{{title}}</b></h3>
  <p><b>Condition:</b> {{condition}}</p>
  <p><b>Category:</b> {{category}}</p>
  <p><b>Posted by:</b> <a class="authorNameHref"
  href="/profile/{{author._id}}"><b>{{author.name}}</b></a></p>
  <div class="viewDetbtnDiv">
  <a class="adDetailbtn"  href="/ad-details/{{_id}}">View details</a></div>
</div>
</div>
{{/each}}
</div>
</div>