<h2>Hello</h2>
{{#each ads}}

  <img src="{{imageURL}}" alt="item-photo" />
  <h3>title: {{title}}</h3>
  <p>description: {{description}}</p>
  <p>consition: {{condition}}</p>
  <p>category: {{category}}</p>

{{/each}}