
<h2>Switch request accepted</h2>

<h3>{{sender.name}}</h3>
<h4>Bio: {{sender.aboutMe}}</h4>
<h4>Address: {{sender.address}}</h4>
<h4>Location: {{sender.location}}</h4>
<h4>Contact: {{sender.contact}}</h4>
<h4>Message: {{message}}</h4>

<h3>{{senderItem.title}}</h3>
<img src="{{senderItem.imageURL}}" alt="{{senderItem.title}}">
<p><b>category:</b> {{senderItem.category}}</p>
<p><b>condition:</b> {{senderItem.condition}}</p>
<p><b>description: {{senderItem.description}}</p>
</div>


<h3>{{receiver.name}}</h3>
<h4>Bio: {{receiver.aboutMe}}</h4>
<h4>Address: {{receiver.address}}</h4>
<h4>Location: {{receiver.location}}</h4>
<h4>Contact: {{receiver.contact}}</h4>

<h3>{{receiverItem.title}}</h3>
<img src="{{receiverItem.imageURL}}" alt="{{receiverItem.title}}">
<p><b>category:</b> {{receiverItem.category}}</p>
<p><b>condition:</b> {{receiverItem.condition}}</p>
<p><b>description: {{receiverItem.description}}</p>
</div>


<h3>You can now contact each other and complete the Switch :)
</h3>



