<div class="reqResBody">
 {{#ifEquals status accepted}} 
<div class="reqAccept">
    <div class="requestAcceptmsg">
<h1>Switch request accepted</h1>
</div>
<div class="requestCard">
<div class="senderReqInfo">
    <div class="senderSender">
<h3>{{sender.name}}</h3>
<img src="{{sender.imageURL}}" alt="{{sender.name}}-profile image">
<h4>Bio: {{sender.aboutMe}}</h4>
<h4>Address: {{sender.address}}</h4>
<h4>Location: {{sender.location}}</h4>
<h4>Contact: {{sender.contact}}</h4>
<h4>Message: {{message}}</h4>
</div>
<div class="senderItem">
<h3>{{senderItem.title}}</h3>
<img src="{{senderItem.imageURL}}" alt="{{senderItem.title}}">
<p><b>category:</b> {{senderItem.category}}</p>
<p><b>condition:</b> {{senderItem.condition}}</p>
<p><b>description: {{senderItem.description}}</p>
</div>
</div>



<div class="receiverReqInfo">
    <div class="receiverReceiver">
<h3>{{receiver.name}}</h3>
<img src="{{receiver.imageURL}}" alt="{{receiver.name}}-profile image">
<h4>Bio: {{receiver.aboutMe}}</h4>
<h4>Address: {{receiver.address}}</h4>
<h4>Location: {{receiver.location}}</h4>
<h4>Contact: {{receiver.contact}}</h4>
</div>
<div class="receiverItem">
<h3>{{receiverItem.title}}</h3>
<img src="{{receiverItem.imageURL}}" alt="{{receiverItem.title}}">
<p><b>category:</b> {{receiverItem.category}}</p>
<p><b>condition:</b> {{receiverItem.condition}}</p>
<p><b>description: {{receiverItem.description}}</p>
</div>
</div>
</div>
<div class="finalMsg">
<h1>You can now contact each other and complete the Switch :)
</h1>
</div>
</div>

{{/ifEquals}}
</div>


{{#ifEquals status rejected}}

<h1>Switch request denied </h1>
<h3>Check <a href="/list">Here</a> all the other ads available for switch</h3>
{{/ifEquals}}